* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* utility class */
.bg_lightcyan {
  background-color: #F4F9FD;
}
.bg_orange{
  background-color: #FE775A;
}
.bg_cyan{
  background-color: #AFEBE4;
}
.bg_white{
  background-color: white;
}
.bg_lightorange{
  background-color: #FFF2EE;
}
.bg_blue{
  background-color: #33475B;
}
.bg_gradient{
  background-image: linear-gradient(#01A6BB, #00BCA5);
}
.bg_container{
  width: 1000px;
  margin: auto;
}
.float_left{
  float: left;
}
.float_right{
  float: right;
}
.par{
  color: #33475B;
  line-height: 24px;
  font-size: 14px;
}
.par_sm{
  color: #33475B;
  line-height: 24px;
  font-size: 12px;
}
.btn{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 5px;
  padding: 15px 30px;
  background-color: #FE775A;
}

/* header */
/* nav_top */
nav{
  width: 100%;
}
.nav_top {
  width: 100%;
  border-bottom: 1px solid #33475B;
  position: fixed;
  top: 0;
  left: 0;
}
.nav_top::after{
  content: "";
  display: table;
  clear: both;
}
.nav_top_left a{
  text-decoration: none;
  color: #33475B;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 80px;
  width: 20%;
}
.nav_top_left_text{
  width: 20%;
}
.btn_border{
  text-decoration: none;
  color: #FE775A;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 80px;
  border: 1px solid #FE775A;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(255, 2550, 255, 0.5);
}
.btn_special{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 80px;
  border-radius: 5px;
  padding: 10px;
  background-color: #FE775A;
  margin-left: 20px;
}
.nav_top_right_text{
  width: 80%;
  text-align: right;
}

/* nav_bottom */
.nav_bottom{
  margin-top: 80px;
}
.nav_bottom::after{
  content: "";
  display: table;
  clear: both;
}
.logo{
  margin-top: 25px;
  float: left;
}
.nav_bottom_right_text ul li{
  list-style: none;
  display: inline-block;
  line-height: 80px;
}
.nav_bottom_right_text ul li a{
  text-decoration: none;
  color: #33475B;
  padding: 10px;
  font-size: 14px;
}

/* banner */
.banner{
  height: 600px;
  background-image: url("../img/jumbotron.png");
}
.banner::after{
  content: "";
  display: table;
  clear: both;
}
.banner_left{
  text-align: left;
  width: 50%;
}
.banner_left h1{
  padding: 50px 0 30px 0;
  font-size: 40px;
  color: #33475B;
}
.box_btn{
  margin: 30px 0 30px 0;
}

.divisor{
  height: 80px;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}
/* /header */



/* main */
/* services */
.row_services{
  height: 1800px;
}
.intro{
  text-align: center;
}
.intro img{
  margin: 30px;
}
.intro h2{
  color: #33475B;
  font-size: 28px;
  margin-bottom: 20px;
}

/* card_1 */
.card_1{
  margin-top: 50px;
  padding: 70px 100px;
  border-radius: 5px;
  box-shadow: 0 0 10px #D2D8DD;
}
.card_1::after{
  content: "";
  display: table;
  clear: both;
}
.card_1_left{
  width: 20%;
  text-align: center;
}
.card_1_left img{
  width: 80%;
  text-align: center;
}
.card_1_right{
  width: 80%;
  padding-left: 50px;
}
.card_1_right h3{
  color: #33475B;
  margin-bottom: 30px;
}
.card_1_right h4{
  color: #33475B;
  margin: 20px 0 20px 0;
  display: inline-block;
}
hr{
  display: inline-block;
  width: 70%;
  vertical-align: middle;
  text-align: right;
}
.list{
  color: #33475B;
  font-size: 14px;
  margin-right: 20px;
}

/* card_2 */
.row_services_bottom{
  margin-top: 50px;
}
.card_2, .card_3, .card_4{
  width: 300px;
  padding: 40px 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px #D2D8DD;
  text-align: center;
}
.img_card{
  width: 80px;
}
.row_services_bottom::after{
  content: "";
  display: table;
  clear: both;
}
.card_3{
  margin: 0 50px;
}
.card_2 h3, .card_3 h3, .card_4 h3{
color: #33475B;
margin: 20px 0;
}
.card_2 hr, .card_3 hr, .card_4 hr{
  margin: 20px 0;
}
.card_2 h4, .card_3 h4, .card_4 h4{
  color: #33475B;
  margin-bottom: 20px;
}
.row_services ul li{
  color: #33475B;
  text-align: left;
  list-style: none;
  font-size: 14px;
}
.row_services ul{
  margin-bottom: 40px;
}





.row_community{
  height: 500px;
}

.row_testimonials{
  height: 500px;
}


/* footer */

#site_footer{
  height: 300px;
}
