* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* utility class */
.bg_lightcyan {
  background-color: #F4F9FD;
}
.bg_orange{
  background-color: #FE775A;
}
.bg_cyan{
  background-color: #AFEBE4;
}
.bg_white{
  background-color: white;
}
.bg_lightorange{
  background-color: #FFF2EE;
}
.bg_blue{
  background-color: #33475B;
}
.bg_gradient{
  background-image: linear-gradient(#01A6BB, #00BCA5);
}
.bg_container{
  width: 1000px;
  margin: auto;
}
.float_left{
  float: left;
}
.float_right{
  float: right;
}
.par{
  color: #33475B;
  line-height: 24px;
  font-size: 14px;
}
.par_sm{
  color: #33475B;
  line-height: 24px;
  font-size: 12px;
}
.btn{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 5px;
  padding: 15px 30px;
  background-color: #FE775A;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

*body{
  min-width:1400px;
  font-family: helvetica;
}

/* header */
/* nav_top */
nav{
  width: 100%;
  border-left: 1px solid #33475B;
}
.nav_top {
  width: 100%;
  border-bottom: 1px solid #33475B;
  position: fixed;
  top: 0;
  left: 0;
}
.earth{
  color: white;
}
.nav_top_left a{
  text-decoration: none;
  color: #33475B;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 80px;
  width: 20%;
}
.nav_top_left{
  width: 50%;
  text-align: left;
}
.btn_border{
  text-decoration: none;
  color: #FE775A;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 80px;
  border: 1px solid #FE775A;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(255, 2550, 255, 0.5);
}
.btn_special{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 80px;
  border-radius: 5px;
  padding: 10px;
  background-color: #FE775A;
  margin-left: 20px;
}
.nav_top_right{
  width: 50%;
  text-align: right;
}

/* nav_bottom */
.nav_bottom{
  margin-top: 80px;
}
.nav_bottom::after{
  content: "";
  display: table;
  clear: both;
}
.logo{
  margin-top: 25px;
  float: left;
}
.nav_bottom_right_text ul li{
  list-style: none;
  display: inline-block;
  line-height: 80px;
}
.nav_bottom_right_text ul li a{
  text-decoration: none;
  color: #33475B;
  padding: 10px;
  font-size: 14px;
}

/* banner */
.banner{
  height: 600px;
  background-image: url("../img/jumbotron.png");
  background-position: 100% 525%;
  background-repeat: no-repeat;
  background-size: 1200px; 
}
.banner_left{
  text-align: left;
  width: 50%;
}
.banner_left h1{
  padding: 50px 0 30px 0;
  font-size: 40px;
  color: #33475B;
}
.box_btn{
  margin: 30px 0 30px 0;
}

.divisor{
  height: 80px;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}
/* /header */



/* main */
/* services */
.row_services{
  padding-bottom: 50px;
}
.intro{
  text-align: center;
}
.intro img{
  margin: 30px;
}
.intro h2{
  color: #33475B;
  font-size: 28px;
  margin-bottom: 20px;
}

/* card_1 */
.card_1{
  margin-top: 50px;
  padding: 70px 100px;
  border-radius: 5px;
  box-shadow: 0 0 10px #D2D8DD;
}
.card_1::after{
  content: "";
  display: table;
  clear: both;
}
.card_1_left{
  width: 20%;
  text-align: center;
}
.card_1_left img{
  width: 80%;
  text-align: center;
}
.card_1_right{
  width: 80%;
  padding-left: 50px;
}
.card_1_right h3{
  color: #33475B;
  margin-bottom: 30px;
}
.card_1_right h4{
  color: #33475B;
  margin: 20px 0 20px 0;
  display: inline-block;
}
.card_1_right hr{
  display: inline-block;
  width: 70%;
  vertical-align: middle;
  text-align: right;
}
.list{
  color: #33475B;
  font-size: 14px;
  margin-right: 20px;
}

/* card_2 , card_3 card_4 */
.row_services_bottom{
  margin-top: 50px;
}
.card_2, .card_3, .card_4{
  width: 300px;
  padding: 40px 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px #D2D8DD;
  text-align: center;
}
.img_card{
  width: 80px;
}
.row_services_bottom::after{
  content: "";
  display: table;
  clear: both;
}
.card_3{
  margin: 0 50px;
}
.card_2 h3, .card_3 h3, .card_4 h3{
color: #33475B;
margin: 20px 0;
}
.card_2 hr, .card_3 hr, .card_4 hr{
  margin: 20px 0;
}
.card_2 h4, .card_3 h4, .card_4 h4{
  color: #33475B;
  margin-bottom: 20px;
}
.row_services ul li{
  color: #33475B;
  text-align: left;
  list-style: none;
  font-size: 14px;
}
.row_services ul{
  margin-bottom: 40px;
}
.list_check{
  color: #FE775A;
}
/* fine services */


/* community */

.community_text{
  text-align: center;
}
.community_text h2{
  color: white;
  padding: 25px 10px;
  font-size: 28px;
}
.community_text p{
  color: white;
  font-size: 14px;
  line-height: 22px;
}
.community_grid{
  padding: 50px 0 70px 0;
  text-align: center;
  color: white;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8{
  padding: 20px;
  border: 0.10px solid white;
  height: 150px;
  width: 250px;
}
.grid_5, .grid_6, .grid_7, .grid_8{
  border-bottom: 0;
}
.grid_1, .grid_2, .grid_3, .grid_4{
  border-top: 0;
}
.grid_1, .grid_5{
  border-left: 0;
}
.grid_4, .grid_8{
  border-right: 0;
}
.logo_grid{
  height: 20%;
}
.grid_top h2, .grid_bottom h2{
  font-size: 45px;
  margin-top: 5px;
}
.grid_top p, .grid_bottom p{
  font-size: 14px;
  margin-top: 10px;
}
.grid_top h2::after{
  content: "+";
  font-size: 20px;
  font-weight: normal;
  vertical-align: middle;
}
.grid_bottom h2::after{
  content: "+";
  font-size: 20px;
  font-weight: normal;
  vertical-align: middle;
}
/* fine community */


/* testimonials */
.row_testimonials{
  margin: 50px 0;
}
.testimonials_top_left{
  width: 25%;
  padding-right: 50px;
  text-align: center;
}
.testimonials_top_left h2{
  color: #33475B;
  font-size: 45px;
  margin-bottom: 20px;
}
.testimonials_top_left p{
  color: #33475B;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.testimonials_top_right{
  width: 75%;
  padding: 50px;
  text-align: center;
}
.testimonials_top_right img{
  width: 20%;
  padding: 10px;
  vertical-align: middle;
  text-align: right;
  position: relative;
  left: 15%;
}
.testimonials_bottom_left{
  width: 50%;
  text-align: left;
}
.testimonials_bottom_left h2{
  color: #33475B;
  font-size: 32px;
  margin-bottom: 15px;
}
.testimonials_bottom_left p{
  color: #33475B;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 25px;
}
.testimonials_bottom_right{
  width: 50%;
}
.testimonials_bottom_right img{
  width: 50%;
  position: relative;
  left: 45%;
}
.testimonials_bottom_left > p:nth-child(4){
  color: #33475B;
  font-size: 12px;
  margin-top: 50px;
}
/* fine testimonials */



/* footer */
.col_footer_1, .col_footer_2, .col_footer_3, .col_footer_4{
  width: 25%;
  color: white;
  text-align: left;
  padding: 50px 20px;
}
.footer_top h4{
  margin-bottom: 25px;
}
.footer_top ul li{
  list-style: none;
}
.footer_top a{
  text-decoration: none;
  color: #C5CFDC;
  font-size: 14px;
  line-height: 35px;
  font-weight: bold;
}
.btn_footer{
  text-decoration: none;
  border-radius: 5px;
  padding: 7px;
  background-color: #C5CFDC;
}
.col_footer_4 > a{
  color: #33475B;
  font-size: 13px;
  font-weight: 500;
}
.social_container a{
  margin-left: 12px;
}
.languages{
  text-align: center;
}
.languages a{
  color: #C5CFDC;
  text-decoration: none;
  font-size: 14px;
}
.languages ul li{
  list-style: none;
  display: inline-block;
  padding-right: 15px;
  margin-bottom: 10px;
}
.copyright{
  width: 50%;
  padding: 20px;
  text-align: left;
  color: #C5CFDC;
}
.copyright img{
  height: 30px;
}
.policy{
  padding: 20px;
  width: 50%;
  display: inline-block;
  text-align: right;
}
.policy a{
  color: #C5CFDC;
  text-decoration: none;
  padding-left: 10px;
  font-size: 14px;

}
